/* * {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "sans-serif";
}

.header {
  background: #f2c572;
  padding: 20px;
  box-shadow: 0 0 10px 2px #a5a5a5;
 } 
  .headrH {
      font-size: 20px;
      color: #684606;
  }




  .container {
    display: flex;
    justify-content: center;
  }




  .btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn-container button {
    margin-right: 10px;
  }

  .edit {
    color: white;
    background: #007bff;
    padding: 5px 10px;
    border: none;
  }


  .delete {
    color: white;
    background: #dc3545;
    padding: 5px 10px;
    border: none;
  } */
